# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
/eagle/*.s#1
/eagle/*.s#2
/eagle/*.pro
/Bejing.X/build/bejing_2580_debug/production/_ext/1472/*.p1
/Bejing.X/build/bejing_2580_debug/production/_ext/1472/*.d
/Bejing.X/build/bejing_2580_debug/production/_ext/1472/*.pre
/Bejing.X/build/bejing_2580_debug/production/_ext/1554471087/*.p1
/Bejing.X/build/bejing_2580_debug/production/_ext/1554471087/*.d
/Bejing.X/build/bejing_2580_debug/production/_ext/1554471087/*.pre
/Bejing.X/build/bejing_2580_debug/production/_ext/1935753226/*.p1
/Bejing.X/build/bejing_2580_debug/production/_ext/1935753226/*.d
/Bejing.X/build/bejing_2580_debug/production/_ext/1935753226/*.pre
/Bejing.X/build/bejing_debug/production/_ext/1472/*.p1
/Bejing.X/build/bejing_debug/production/_ext/1472/*.d
/Bejing.X/build/bejing_debug/production/_ext/1472/*.pre
/Bejing.X/build/bejing_debug/production/_ext/1554471087/*.p1
/Bejing.X/build/bejing_debug/production/_ext/1554471087/*.d
/Bejing.X/build/bejing_debug/production/_ext/1554471087/*.pre
/Bejing.X/build/bejing_debug/production/_ext/1935753226/*.p1
/Bejing.X/build/bejing_debug/production/_ext/1935753226/*.d
/Bejing.X/build/bejing_debug/production/_ext/1935753226/*.pre
/Bejing.X/dist/bejing_2580_debug/production/*.cmf
/Bejing.X/dist/bejing_2580_debug/production/*.hxl
/Bejing.X/dist/bejing_2580_debug/production/*.lst
/Bejing.X/dist/bejing_2580_debug/production/*.map
/Bejing.X/dist/bejing_2580_debug/production/*.rlf
/Bejing.X/dist/bejing_2580_debug/production/*.sdb
/Bejing.X/dist/bejing_2580_debug/production/*.sym
/Bejing.X/dist/bejing_debug/production/*.cmf
/Bejing.X/dist/bejing_debug/production/*.hxl
/Bejing.X/dist/bejing_debug/production/*.lst
/Bejing.X/dist/bejing_debug/production/*.map
/Bejing.X/dist/bejing_debug/production/*.rlf
/Bejing.X/dist/bejing_debug/production/*.sdb
/Bejing.X/dist/bejing_debug/production/*.sym
/Bejing.X/build/bejing_2580_release/production/_ext/1472/ECAN.p1
/Bejing.X/build/bejing_2580_release/production/_ext/1472/ECAN.p1.d
/Bejing.X/build/bejing_2580_release/production/_ext/1472/ECAN.pre
/Bejing.X/build/bejing_2580_release/production/_ext/1472/main.p1
/Bejing.X/build/bejing_2580_release/production/_ext/1472/main.p1.d
/Bejing.X/build/bejing_2580_release/production/_ext/1472/main.pre
/Bejing.X/build/bejing_2580_release/production/_ext/1935753226/vscp_firmware.p1
/Bejing.X/build/bejing_2580_release/production/_ext/1935753226/vscp_firmware.p1.d
/Bejing.X/build/bejing_2580_release/production/_ext/1935753226/vscp_firmware.pre
/Bejing.X/build/bejing_2580_relocated/production/_ext/1472/ECAN.p1
/Bejing.X/build/bejing_2580_relocated/production/_ext/1472/ECAN.p1.d
/Bejing.X/build/bejing_2580_relocated/production/_ext/1472/ECAN.pre
/Bejing.X/build/bejing_2580_relocated/production/_ext/1472/main.p1
/Bejing.X/build/bejing_2580_relocated/production/_ext/1472/main.p1.d
/Bejing.X/build/bejing_2580_relocated/production/_ext/1472/main.pre
/Bejing.X/build/bejing_2580_relocated/production/_ext/1935753226/vscp_firmware.p1
/Bejing.X/build/bejing_2580_relocated/production/_ext/1935753226/vscp_firmware.p1.d
/Bejing.X/build/bejing_2580_relocated/production/_ext/1935753226/vscp_firmware.pre
/Bejing.X/dist/bejing_2580_release/production/Bejing.X.production.cmf
/Bejing.X/dist/bejing_2580_release/production/Bejing.X.production.hxl
/Bejing.X/dist/bejing_2580_release/production/Bejing.X.production.lst
/Bejing.X/dist/bejing_2580_release/production/Bejing.X.production.rlf
/Bejing.X/dist/bejing_2580_release/production/Bejing.X.production.sdb
/Bejing.X/dist/bejing_2580_release/production/Bejing.X.production.sym
/Bejing.X/dist/bejing_2580_relocated/production/Bejing.X.production.cmf
/Bejing.X/dist/bejing_2580_relocated/production/Bejing.X.production.hxl
/Bejing.X/dist/bejing_2580_relocated/production/Bejing.X.production.lst
/Bejing.X/dist/bejing_2580_relocated/production/Bejing.X.production.rlf
/Bejing.X/dist/bejing_2580_relocated/production/Bejing.X.production.sdb
/Bejing.X/dist/bejing_2580_relocated/production/Bejing.X.production.sym
/Bejing.X/nbproject/Makefile-bejing_2580_release.mk
/Bejing.X/nbproject/Makefile-bejing_2580_relocated.mk
/Bejing.X/nbproject/Makefile-local-bejing_2580_release.mk
/Bejing.X/nbproject/Makefile-local-bejing_2580_relocated.mk
/Bejing.X/nbproject/Package-bejing_2580_release.bash
/Bejing.X/nbproject/Package-bejing_2580_relocated.bash
/Bejing.X/build/bejing_2580_relocated/debug/_ext/1472/ECAN.p1
/Bejing.X/build/bejing_2580_relocated/debug/_ext/1472/ECAN.p1.d
/Bejing.X/build/bejing_2580_relocated/debug/_ext/1472/ECAN.pre
/Bejing.X/build/bejing_2580_relocated/debug/_ext/1472/main.p1
/Bejing.X/build/bejing_2580_relocated/debug/_ext/1472/main.p1.d
/Bejing.X/build/bejing_2580_relocated/debug/_ext/1472/main.pre
/Bejing.X/build/bejing_2580_relocated/debug/_ext/1935753226/vscp_firmware.p1
/Bejing.X/build/bejing_2580_relocated/debug/_ext/1935753226/vscp_firmware.p1.d
/Bejing.X/build/bejing_2580_relocated/debug/_ext/1935753226/vscp_firmware.pre
/Bejing.X/dist/bejing_2580_release/production/Bejing.X.production.hex
/Bejing.X/dist/bejing_2580_relocated/debug/Bejing.X.debug.cmf
/Bejing.X/dist/bejing_2580_relocated/debug/Bejing.X.debug.hxl
/Bejing.X/dist/bejing_2580_relocated/debug/Bejing.X.debug.lst
/Bejing.X/dist/bejing_2580_relocated/debug/Bejing.X.debug.map
/Bejing.X/dist/bejing_2580_relocated/debug/Bejing.X.debug.rlf
/Bejing.X/dist/bejing_2580_relocated/debug/Bejing.X.debug.sdb
/Bejing.X/dist/bejing_2580_relocated/debug/Bejing.X.debug.sym
/Bejing.X/dist/bejing_2580_relocated/production/Bejing.X.production_1_0_1.hex
/eagle/Gerbers/Transcode Report.txt
/Bejing.X/build/bejing_2580_release/debug/_ext/1472/*.p1
/Bejing.X/build/bejing_2580_release/debug/_ext/1472/*.d
/Bejing.X/build/bejing_2580_release/debug/_ext/1472/*.pre
/Bejing.X/build/bejing_2580_release/debug/_ext/1935753226/*.p1
/Bejing.X/build/bejing_2580_release/debug/_ext/1935753226/*.d
/Bejing.X/build/bejing_2580_release/debug/_ext/1935753226/*.pre
/Bejing.X/dist/bejing_2580_release/debug/*.cmf
/Bejing.X/dist/bejing_2580_release/debug/*.hxl
/Bejing.X/dist/bejing_2580_release/debug/*.lst
/Bejing.X/dist/bejing_2580_release/debug/*.map
/Bejing.X/dist/bejing_2580_release/debug/*.rlf
/Bejing.X/dist/bejing_2580_release/debug/*.sdb
/Bejing.X/dist/bejing_2580_release/debug/*.sym
