# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/eagle/*.s#1
/eagle/*.s#2
/eagle/*.pro
/Bejing.X/build/bejing_2580_debug/production/_ext/1472/*.p1
/Bejing.X/build/bejing_2580_debug/production/_ext/1472/*.d
/Bejing.X/build/bejing_2580_debug/production/_ext/1472/*.pre
/Bejing.X/build/bejing_2580_debug/production/_ext/1554471087/*.p1
/Bejing.X/build/bejing_2580_debug/production/_ext/1554471087/*.d
/Bejing.X/build/bejing_2580_debug/production/_ext/1554471087/*.pre
/Bejing.X/build/bejing_2580_debug/production/_ext/1935753226/*.p1
/Bejing.X/build/bejing_2580_debug/production/_ext/1935753226/*.d
/Bejing.X/build/bejing_2580_debug/production/_ext/1935753226/*.pre
/Bejing.X/build/bejing_debug/production/_ext/1472/*.p1
/Bejing.X/build/bejing_debug/production/_ext/1472/*.d
/Bejing.X/build/bejing_debug/production/_ext/1472/*.pre
/Bejing.X/build/bejing_debug/production/_ext/1554471087/*.p1
/Bejing.X/build/bejing_debug/production/_ext/1554471087/*.d
/Bejing.X/build/bejing_debug/production/_ext/1554471087/*.pre
/Bejing.X/build/bejing_debug/production/_ext/1935753226/*.p1
/Bejing.X/build/bejing_debug/production/_ext/1935753226/*.d
/Bejing.X/build/bejing_debug/production/_ext/1935753226/*.pre
/Bejing.X/dist/bejing_2580_debug/production/*.cmf
/Bejing.X/dist/bejing_2580_debug/production/*.hxl
/Bejing.X/dist/bejing_2580_debug/production/*.lst
/Bejing.X/dist/bejing_2580_debug/production/*.map
/Bejing.X/dist/bejing_2580_debug/production/*.rlf
/Bejing.X/dist/bejing_2580_debug/production/*.sdb
/Bejing.X/dist/bejing_2580_debug/production/*.sym
/Bejing.X/dist/bejing_debug/production/*.cmf
/Bejing.X/dist/bejing_debug/production/*.hxl
/Bejing.X/dist/bejing_debug/production/*.lst
/Bejing.X/dist/bejing_debug/production/*.map
/Bejing.X/dist/bejing_debug/production/*.rlf
/Bejing.X/dist/bejing_debug/production/*.sdb
/Bejing.X/dist/bejing_debug/production/*.sym
